# Dependencias de mi sistema #
yay (pacman)
git (pacman)
github-desktop (pacman)
parsec (flatpak)
drawio (flatpak)
solanum (flatpak)
betterbird (pacman)
cider (flatpak)
neovim (pacman)
google docs (flatpak)
steam (pacman)
pycharm (pacman)
intelij (pacman)
clion (pacman)
webstorm (pacman)
stacer (pacman)
opera-developer (pacman)
vscode (pacman)
ranger (pacman)
discord (pacman)
packet-tracer (por ver)
